.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 26px;
    list-style: none;
    padding-left: 2px;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 35px;

      &::after {
        content: "";
        position: absolute;
        right: -20px;
        top: 50%;
        font-size: 10px;
        text-transform: uppercase;
        color: $cardColorProductCode;
        transform: translateY(-50%);
      }
    }
  }

  &__link {
    font-size: 10px;
    text-transform: uppercase;
    color: $cardColorProductCode;
    padding-right: 30px;
    transition: color 0.3s;
    text-decoration: none;

    &::after {
      content: "";
      content: "";
      position: absolute;
      right: 0;
      top: 35%;
      width: 10px;
      height: 8px;
      background-image: url(../images/icons/arrow_forward.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &--active {
      color: $main-text-color;
      font-weight: 700;

      &:hover {
        color: $main-text-color;
      }
    }

    &:hover {
      color: $colorFormHover;
      transition: color 0.3s;
    }

    &--current {
      color: $main-text-color;
    }
  }
}

.breadcrumbs .container {
  display: flex;
  align-items: center;
}

.breadcrumbs__list {
  border-bottom: none;
}
