.catalog-filters {
  margin-right: 30px;
  width: 309px;
  padding-top: 24px;
  padding-right: 62px;


  @include on-tablet {
    width: 50%;
  }

  @include on-mobile {
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 30;
    display: none;
    padding: 30px 40px;
    width: 100%;
    background: $mainColor;
  }
}

.catalog-filters--open {
  display: block;
}

.catalog-mobile-filters {
  display: none;

  @include on-mobile {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
}

.catalog-content {
  position: relative;
  min-height: 500px;
}

.catalog-container {
  display: flex;
}

.hide-filters {
  margin-bottom: 10px;
  padding-left: 24px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
  background-image: url(../images/icons/cross.svg);
  background-position: left center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.catalog-filter {
  border-top: 1px solid $colorBackAboutUs;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
    cursor: pointer;
    user-select: none;
  }

  &__caption {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__quantity {
    margin-left: 5px;
    min-width: 16px;
    transform: translateY(-1px);
  }

  &__bottom {
    display: none;
    padding-bottom: 34px;
  }

  &__toggle {
    position: relative;
    width: 12px;
    height: 12px;
    color: #000;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: $toggleColor;
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: $toggleColor;
      transform: translateY(-50%);
    }
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
    columns: 2;
  }

  &__item {
    margin-bottom: 14px;
  }

  &--open {
    .catalog-filter__bottom {
      display: block;
    }

    .catalog-filter__toggle {
      &::before {
        display: none;
      }
    }
  }

  &:last-child {
    border-bottom: 1px solid $catalogFilterColor;
  }
}

.quantity {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-weight: 700;
  font-size: 10px;
  color: $cardColorButtonLink;
  background-color: $colorFormHover;
}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
  user-select: none;

  &__text {
    position: relative;
    color: $main-text-color;
    font-size: 13px;
    padding-left: 20px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      width: 11px;
      height: 11px;
      border: 2px solid $toggleColor;
    }

    &::after {
      content: "\2713";
      position: absolute;
      left: 2px;
      top: 0;
      color: $toggleColor;
      opacity: 0;
    }

    &:hover {
      color: $main-text-color;
      transition: color 0.3s;
    }
  }

  &__input {
    opacity: 0;
    margin: 0;
    padding: 0;
    position: absolute;

    &:checked + .custom-checkbox__text::after {
      opacity: 1;
    }
  }
}

.catalog-grid {
  width: 700px;
  padding-top: 18px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }
}

.catalog-cntr {
  --column-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--column-count), 200px);
  gap: 48px 48px;
  padding: 20px 0;
  justify-content: center;

  @include on-mobile {
    --column-count: 1;
  }

  @include on-tablet {
    --column-count: 2;
  }

  @include on-desktop {
    --column-count: 3;
    }
}

.catalog-props {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;

    select {
      display: none;
    }
  }
}

.catalog-columns {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;

  &__text {
    margin-right: 8px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: $cardColorProductCode;

    &:hover {
      color: $colorFormHover;
    }

    &--current {
      color: $colorBackActiveButton;

      &::before {
        opacity: 1;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }
}

.catalog-choice {
  display: none;
  font-size: 13px;

  &__item {
    border-radius: 12px;
    margin-right: 5px;
    color: $catalogitemColor;
    font-size: 13px;
    background-color: $catalogFilterColor;
    padding: 5px 12px;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    cursor: pointer;

    img {
      margin-left: 5px;
      width: 10px;
      height: 11px;
    }

    &:hover {
      color: $mainColor;
      background-color: $colorTextContact;
      transition: background-color 0.3s, color 0.3s;
    }
  }

  &__clear {
    position: relative;
    font-weight: 500;
    font-size: 13px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: $colorBackActiveButton;
      opacity: 1;
      transition: opacity 0.15s;
    }
  }
}


.catalog-grid {
  padding-top: 24px;
  width: 987px;

  &__content {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    padding-top: 20px;
    padding-left: 10px;
    margin-right: 10px;
  }

  &__item {
    margin-bottom: 79px;
  }
}

[data-grid-columns="3"] {
  .catalog-grid__item {
    width: 31.3%;

    &:not(:nth-child(3n)) {
      margin-right: 3%;
    }

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
  }
}

[data-grid-columns="4"] {
  .catalog-grid__item {
    width: 22.7%;

    &:not(:nth-child(4n)) {
      margin-right: 3%;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }
}

[data-grid-columns="5"] {
  .catalog-grid__item {
    width: 17.6%;

    &:not(:nth-child(5n)) {
      margin-right: 3%;
    }

    &:nth-last-child(-n+5) {
      margin-bottom: 0;
    }
  }
}

.catalog-props {
  margin-bottom: 20px;
}

.custom-select {
  position: relative;
  min-width: 115px;
  user-select: none;

  &__list {
    list-style-type: none;
    font-size: 10px;
  }

  &__dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    z-index: 20;
    width: 100%;
    padding: 10px;
    background-color: $mainColor;
  }

  &__item {
    transition: color 0.3s;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover {
      transition: 0.3s;
    }
  }

  &__top {
    position: relative;
    border-bottom: 1px solid $cardColorProductCode;
    padding-right: 32px;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -6px;
      width: 10px;
      height: 6px;
      background-image: url(../images/icons/arrow_down.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translateY(-50%);
    }
  }

  &--open {
    .custom-select__top {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .custom-select__dropdown {
      display: block;
    }
  }

  &--footer {
    min-width: auto;

    .custom-select__top {
      padding-right: 15px;
      padding-bottom: 0;
      border-bottom: none;
      font-size: 13px;

      &::after {
        margin-top: 0;
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    list-style: none;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 10px;
    color: $cardColorProductCode;
    border: 2px solid  $cardColorProductCode;
    padding: 0 16px;
    height: 40px;
    text-transform: uppercase;
    transition: color 0.3s, background-color 0.3s, border 0.3s;

    img {
      margin-left: 3px;
      width: 15px;
      height: 16px;
    }

    &--current {
      border: 2px solid $main-text-color;
      background-color: $main-text-color;
      color: $mainColor;
    }
  }
}
