.hero-catalog {
  padding-top: 20px;

  @include on-mobile {
    padding-top: 60px;
  }

  &__slider {
    overflow: hidden;
    width: 100%;
    background-color: $colorBackAboutUs;
    position: relative;
  }

  &__container {
    position: relative;
  }
}

.container-narrow {
  padding: 0;
}

.catalog-slide {
  padding: 110px 108px;

  &__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 26px;
    line-height: 33px;

    @include on-mobile {
      font-size: 18px;
      padding-left: 25px;
    }

    @include on-tablet {
      font-size: 20px;
      padding-left: 100px;
    }

    @include on-desktop {
      font-size: 26px;
      padding-left: 20px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 40px;
    max-width: 390px;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    color: $cardColorProductCode;

    @include on-mobile {
      font-size: 12px;
      padding-left: 25px;
    }

    @include on-tablet {
      font-size: 14px;
      padding-left: 100px;
    }

    @include on-desktop {
      font-size: 13px;
      margin: 0;
      padding-left: 20px;
    }
  }

  &__btns {
    display: flex;
    align-items: center;

    @include on-mobile {
      display: block;
      padding: 10px 25px;
    }

    @include on-tablet {
      display: block;
      padding: 10px 100px;
    }

    @include on-desktop {
      padding: 20px 20px;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 18%;
    top: 14%;

    @include on-mobile {
      right: 7%;
      display: none;
      width: 25%;
    }

    @include on-tablet {
      right: 7%;
      display: none;
      width: 25%;
    }

    @include on-desktop {
      display: block;
      position: absolute;
      bottom: 0;
      right: 18%;
      top: 14%;
    }
  }

  &__image2 {
    position: absolute;
    bottom: 0;
    right: 18%;
    top: 15%;


    @include on-mobile {
      right: 7%;
      display: none;
      width: 25%;
    }

    @include on-tablet {
      right: 7%;
      display: none;
      width: 25%;
    }

    @include on-desktop {
      display: block;
      position: absolute;
      bottom: 0;
      right: 10%;
      top: 15%;
      width: 400px;
      height: 300px;
    }
  }

  &__image3 {
    position: absolute;
    bottom: 0;
    right: 15%;
    top: 5%;
    width: 300px;
    height: 300px;


    @include on-mobile {
      right: 7%;
      display: none;
      width: 25%;
    }

    @include on-tablet {
      right: 7%;
      display: none;
      width: 25%;
    }

    @include on-desktop {
      display: block;
      position: absolute;
      bottom: 0;
      right: 15%;
      top: 5%;
      width: 300px;
      height: 300px;
    }
  }

  &__link {
    display: inline-block;
    padding: 10px 33px;
    font-size: 13px;
    text-decoration: none;

    @include on-mobile {
      padding: 5px 10px;
    }

    &--dark {
      border: 1px solid $main-text-color;
      color: $cardColorButtonLink;
      background-color: $main-text-color;

      &:hover {
        border: 1px solid $main-text-color;
        color: $main-text-color;
        background-color: $mainColor;
      }
    }

    &--light {
      border: 1px solid $main-text-color;
      color: $main-text-color;
      background-color: $cardColorButtonLink;

      &:hover {
        border: 1px solid $main-text-color;
        color: $mainColor;
        background-color: $main-text-color;
      }
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  @include on-tablet {
    padding: 70px;
  }

  @include on-mobile {
    padding: 20px;
  }
}

.hero-prev-btn,
.hero-next-btn {
  position: absolute;
  left: 30px;
  top: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorBackAboutUs;
  transform: translateY(-50%);
  transition: backgroung-color 0.3s;
  cursor: pointer;
  z-index: 10;

  svg {
    width: 40px;
    height: 20px;
    fill: $colorTextContact;
    transition: fill 0.3s;
  }

  &:hover {
    transition: background-color 0.3s;
  }

  @include on-tablet {
    left: 5px;
  }

  @include on-mobile {
    display: none;
  }
}

.hero-next-btn {
  left: auto;
  right: 30px;

  @include on-tablet {
    right: 10px;
  }
}

.hero-prev-btn {
  right: auto;
  left: 30px;

  @include on-tablet {
    left: 10px;
  }
}
