.icon {
  display: block;
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 30px;
    width: 30px;
    gap: 12px;
  }

  &--number {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    text-decoration: none;
    position: absolute;
    color: $main-text-color;
    top: 20px;
    transform: translateY(-50%);
    right: calc(100% + 8px);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: Manrope, sans-serif;
    white-space: nowrap;
    width: auto;
  }

  &--phone {
    background-image: url(../images/icons/icon-call.svg);
    cursor: pointer;

    &:hover .icon--number{
      visibility: visible;
      opacity: 1;
    }
  }

  &--bin {
    background-image: url(../images/icons/shop_bag.svg);
    cursor: pointer;

    &:hover .icon--bin{
      visibility: visible;
      opacity: 1;
    }
  }

  &--search {
    background-image: url(../images/icons/search_big.svg);
    cursor: pointer;

    &:hover .icon--bin{
      visibility: visible;
      opacity: 1;
    }
  }

  &--person {
    background-image: url(../images/icons/icon-person.svg);
    cursor: pointer;

    &:hover .icon--person{
      visibility: visible;
      opacity: 1;
    }
  }


  &--menu {
    background-image: url(../images/icons/icon-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }

  &__quantity {
    margin-left: 5px;
    min-width: 16px;
    transform: translateY(-8px);
    transform: translateX(14px);

    @include on-mobile {
      margin-left: 1px;
      transform: translateX(10px);
    }
  }

  &-quantity {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-weight: 700;
    font-size: 10px;
    color: $cardColorButtonLink;
    background-color: $colorFormHover;

    @include on-mobile {
      width: 8px;
      height: 10px;
      font-size: 8px;
    }
  }

  &__search-bar {
    display: none;
    margin-top: 40px;
    padding-right: 30px;
    position: absolute;
    z-index: 1;

    &:focus {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    input {
      padding: 8px;
      width: 150px;
      border: 1px solid $btnColorCart;
      border-radius: 6px;

      @include on-mobile {
        width: 110px;
        padding: 3px;
        font-size: 12px;
      }

      &:focus {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &--search {
    cursor: pointer;
    position: relative;
  }
}
