.card {
  padding-top: 67px;
}

.card-content {
  padding-top: 20px;

  &__bottom {
    padding-top: 70px;
  }
}

.card-top {
  .container {
    display: flex;

    @include on-mobile {
      flex-wrap: wrap;
    }
  }

  &__left {
    width: 57.5%;

    @include on-mobile {
      width: 100%;
    }
  }

  &__right {
    padding-top: 57px;
    padding-left: 10.7%;
    width: calc(100% - 57.5%);

    @include on-tablet {
      padding-left: 5%;
    }

    @include on-mobile {
      padding: 20px;
      width: 100%;
    }
  }
}

.card-info {
  &-prop {
    margin-bottom: 16px;
    padding-left: 19px;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
  }

  &__rate {
    margin-bottom: 25px;
    font-size: 13px;
    color: $cardColorProductCode;

    img {
      margin-right: 3px;
    }
  }

  &__price {
    margin-bottom: 22px;
  }

  &__descr {
    margin-bottom: 52px;
    font-size: 13px;
    line-height: 20px;
    color: $backColorDelivery;
  }

  &__first-select {
    margin-bottom: 28px;
  }

  &__second-select {
    margin-bottom: 82px;
  }

  &__stepper {
    margin-bottom: 10px;
  }

  &__btn {
    margin-bottom: 10px;
    width: 100%;
    height: 58px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: $main-text-color;
    background-color: $btnCartColor;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: $mainColor;
      background-color: $main-text-color;
      transition: color 0.3s, background-color 0.3s;
    }

    &--tocart {
      border: none;
      border-color: $colorFormHover;
      color: $mainColor;
      background-color: $colorFormHover;

      @include on-mobile {
        height: 50px;
      }

      &:hover {
        color: $mainColor;
        background-color: $main-text-color;
        border-color: $main-text-color;
        transition: color 0.3s, background-color 0.3s;
      }
    }

    &--towishlist {
      border: 2px solid $colorFormHover;
      color: $main-text-color;
      background-color: $mainColor;

      @include on-mobile {
        height: 50px;
      }

      &:hover {
        color: $mainColor;
        background-color: $main-text-color;
        border-color: $main-text-color;
        transition: color 0.3s, background-color 0.3s;
      }
    }
  }
}

.best {
  color: $colorFormHover;
}

.info-price {
  display: flex;
  align-items: flex-end;

  &__current {
    margin-right: 20px;
    font-weight: 700;
    font-size: 24px;
    color: $main-text-color;

    @include on-mobile {
      font-size: 20px;
    }
  }

  &__old {
    font-size: 16px;
    text-decoration: line-through;
    color: $priceColor;
  }
}

.color-select {
  &__selected {
    margin: 0;
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: $cardColorProductCode;

    span {
      color: $main-text-color;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    padding-left: 4px;
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__btn {
    position: relative;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    cursor: pointer;

    @include on-mobile {
      width: 20px;
      height: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border: 1px solid $btnColorCart;
      border-radius: 100%;
      width: 32px;
      height: 32px;
      transform: translate(-50%, -50%);
      transition: border 0.3s;

      @include on-mobile {
        width: 26px;
        height: 26px;
      }
    }

    &:hover {
      &::before {
        border: 1px solid $main-text-color;
        transition: border 0.3s;
      }
    }

    &--active {
      &::before {
        border: 1px solid $main-text-color;
        transition: border 0.3s;
      }
    }
  }
}

.size-select {
  &__selected {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: $cardColorProductCode;

    span {
      color: $main-text-color;
    }
  }

  &__clear {
    display: none;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: $sizeSelectCartColor;

    img {
      margin-right: 2px;
      width: 20px;
      height: 20px;
    }
  }

  &__list {
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    list-style: none;

    @include on-tablet {
      flex-wrap: wrap;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 5px;
    }

    @include on-tablet {
      margin-bottom: 5px;
    }
  }

  &__btn {
    position: relative;
    width: 50px;
    height: 32px;
    font-size: 13px;
    color: $cardColorProductCode;
    transition: color 0.3s;
    cursor: pointer;
    border: none;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid $btnColorCart;
      width: 100%;
      height: 100%;
      transition: border 0.3s;
    }

    &:hover {
      color: $colorTextContact;
      transition: color 0.3s;

      &::before {
        border: 1px solid $colorTextContact;
        transition: border 0.3s;
      }
    }

    &--active {
      &::before {
        border: 1px solid $colorTextContact;
        transition: border 0.3s;
      }
    }
  }
}

.btn-reset {
  cursor: pointer;
}

.stepper {
  display: flex;
  border: 1px solid $colorTextContact;
  height: 58px;

  @include on-mobile {
    height: 50px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 100%;
    border: none;
    background-color: $mainColor;


    img {
      display: block;
      width: 12px;
      height: 12px;
    }

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__input {
    padding: 0;
    flex-grow: 1;
    border: none;
    height: 100%;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: $colorTextContact;

    @include on-mobile {
      height: 80%;
    }
  }
}

.card-bottom {
  display: flex;
  flex-direction: column;
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;

  span {
    color: $cardColorProductCode;
  }

  &__social {
    display: flex;
    align-items: center;
    margin-top: 15px;

    span {
      margin-right: 13px;
    }

    @include on-mobile {
      width: 100%;
    }
  }

  &__item {

    @include on-tablet {
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
      color: $main-text-color;
    }
  }
}

.social {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.card-description {
  display: flex;
  align-items: flex-start;

  &__left {
    padding-top: 30px;
    width: 16%;
    height: 300px;

    @include on-tablet {
      width: 35%;
    }

    @include on-mobile {
      width: 100%;
    }
  }

  .simplebar-wrapper {
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  .simplebar-mask {
    overflow: visible !important;
    mask: none;
  }

  .simplebar-track.simplebar-vertical {
    width: 3px;
    background-color: $colorTextContact;
  }

  .simplebar-scrollbar::before {
    content: "";
    display: block;
    left: 0;
    right: 0;
    border-radius: 3px;
    width: 3px;
    height: 100%;
    background-color: $colorTextContact;
    opacity: 1;
  }

  &__right {
    padding-top: 21px;
    padding-right: 120px;
    padding-left: 125px;
    width: 84%;

    @include on-tablet {
      padding-right: 50px;
      padding-left: 50px;
    }

    @include on-mobile {
      padding-right: 0;
      padding-left: 0;
      width: 100%;
    }
  }

  &__navigation {
    padding: 23px 0;
    width: 100%;
    max-height: 210px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 15px;
    color: $cardColorProductCode;
    transition: color 0.3s;

    &:hover {
      color: $colorTextContact;
      transition: color 0.3s;
    }

    &--active {
      color: $colorTextContact;
      pointer-events: none;
    }
  }

  &__content {
    display: none;

    p {
      margin-top: 0;
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 13px;
      line-height: 26px;
    }

    &--active {
      display: block;
    }
  }

  @include on-mobile {
    flex-wrap: wrap;
  }
}

.card-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;

  span {
    color: $cardColorProductCode;
  }

  &__social {
    display: flex;
    align-items: center;
    margin-top: 15px;

    span {
      margin-right: 13px;
    }
  }
}

.card-description {
  display: flex;
  align-items: flex-start;

  &__left {
    padding-top: 30px;
    width: 16%;
  }

  .simplebar-track.simplebar-vertical {
    width: 3px;
    background-color: $btnColorCart;
  }

  .simplebar-scrollbar::before {
    left: 0;
    right: 0;
    border-radius: 0;
    width: 3px;
    height: 100%;
    background-color: $colorTextContact;
    opacity: 1;
  }

  &__right {
    padding-top: 21px;
    padding-right: 120px;
    padding-left: 125px;
    width: 84%;
  }

  &__navigation {
    padding: 23px 0;
    width: 100%;
    max-height: 210px;
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 15px;
    color: $cardColorProductCode;
    transition: color 0.3s;
    text-decoration: none;

    &:hover {
      color: $colorTextContact;
      transition: color 0.3s;
    }

    &--active {
      color: $colorTextContact;
      pointer-events: none;
    }
  }

  &__content {
    display: none;

    p {
      margin-top: 0;
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 13px;
      line-height: 26px;
    }

    &--active {
      display: block;
    }
  }

  @include on-mobile {
    flex-wrap: wrap;
  }
}

.card-related {
  padding-top: 40px;

  &__content {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 26px;
  }
}
