.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  padding-block: 0;

  @include on-tablet {
    padding-block: 64px;
  }

  &__form {
    &-search {
      position: relative;
      border-radius: 8px;
      width: 100%;
      cursor: pointer;

      &:hover {
        border-radius: 4px;
      }
    }

    &-searchForm {
      display: block;
      width: 100%;
      height: 30px;
      padding-left: 33px;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 19.12px;
      color: #3d4e61;
      border: 1px solid #000;
      border-radius: 4px;
      background-image: url(../images/catalog/Search.svg);
      background-repeat: no-repeat;
      background-position: 15px;
      background-size: 11px;
      align-items: start;
      padding-bottom: 3px;
      cursor: pointer;

      &:focus {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid #000;
        outline: none;
        border-radius: 3px;
        background: linear-gradient(to bottom, #ffff, #f6f6f7);
        background-image: url(../images/catalog/Search.svg);
        background-repeat: no-repeat;
        background-position: 15px;
        background-size: 11px;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 16px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 24px;
    }
  }
}
