$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$main-text-color: #1B2129;
$colorFormHover: #F98921;
$mainColor: #fff;
$colorInfo: #9393A3;
$colorTextContact: #191919;
$colorBackInfo: #F9F9F9;
$colorBackAboutUs: #FCFAEF;
$colorBackActiveButton: #010810;
$cardColorBorder: #f3f3f3;
$cardColorProductCode: #616070;
$cardColorPriceProduct: #060b35;
$cardColorButtonLink: #fff;
// $cardWidth: 200px;
$cardBorderRadius: 5px;
$buttonHeight: 40px;
$buttonBorderRadius: 5px;
$catalogCardHorPadding: 40px;
$catalogCardVerPadding: 50px;
$cardTitleColorHover: #34568b;
$toggleColor: #aaa;
$catalogFilterColor: #eee;
$catalogitemColor: #454545;
$sliderBtnColor: #c9cbca;
$backColorDelivery: #111;
$footerBottomColor: #eee;
$btnCartColor: #f2f2f2;
$priceColor: #959595;
$btnColorCart: #ccc;
$sizeSelectCartColor: #d24242;
$cardWidth: 200px;
$cardBorderRadius: 5px;
$buttonHeight: 40px;
$buttonBorderRadius: 5px;
$containerHorPadding: 40px;
$containerVerPadding: 50px;
$gradientBodyColor: #e2e2e2;
$linearBodyColor: #fce3ba;
$gradientToggleColor: #efa461;
$linearToggleColor: #f26a2f;
